.central-column {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90dvh;
}
  
  
  .container {
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(245, 245, 245, 0.8);
    width: 80vw;
    min-width: 300px;
  }
  
  .container__header {
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .container__header span {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    width: 100%;
    height: 100%;
  }
  
  .container__body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px 20px;
  }
  
  textarea {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 1000px;
    background-color: rgba(247, 250, 252, 0.699);
    padding: 5px;
    border-radius: 0;
    outline: none;
    border: 2px solid rgba(46, 43, 43, 0.349);
    min-height: 350px;
    min-width: 100%;
  }
  
  .special-gradient-text {
    font-size: 1rem;
    background-image: linear-gradient(32deg, rgba(255,10,212,1) 0%, rgba(66,212,181,1) 46%, rgba(155,255,0,1) 71%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
  }
  
  
  .title {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  
  .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    float: right;
    gap: 30px;
  }
  

  @media (max-width: 700px) {
    .container__header span {
      text-align: center;
    }
  }

  @media (max-width: 536px) {
    .container__body {
      gap: 15px;
    }
    .buttons {
      flex-direction: column;
    }
    .buttons .btn {
      width: 100%;
    }
  }