.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(54, 54, 54, 0.8);
    backdrop-filter: blur(2px);

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__inner {
    background-color: rgba(255, 255, 255, 0.856);
    border-radius: .5rem;
    width: 700px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.popup__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: .5rem;
    padding: 15px;
}
.popup__header span {
    font-weight: 600;
    font-size: 1.4em;
}

.popup__header button {
    font-size: 1.4em;
    border-radius: .2rem;
    float: right;
    background-color: rgba(85, 85, 85, 0.384);
    border: 0;
    width: 40px;
    height: 40px;
}

.popup__header button:hover {
    cursor: pointer;
    transform: scale(.95);
    border-radius: .5rem;
    transition: transform .2s ease-in, border-radius .2s ease-in-out;
}

.popup__body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__body button {
    background-color: rgba(85, 85, 85, 0.384);
    font-size: 1.2em;
    padding: 5px;
    border: 0;
}

.popup__body button:hover {
    background-color: rgba(63, 63, 63, 0.384);
    cursor: pointer;
    transform: scale(.98);
    transition: transform .2s ease-in, border-radius .2s ease-in-out;
}