@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('./styles/utilStyles.css');


* {
  font-size: inherit;
  font-weight: inherit;
  font-family: 'Open Sans', sans-serif;
}
